@page
@model Antonio_YenChiou.Pages.Shared._InfoPartialModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section id="info-section" class="row justify-content-md-center">
    <div class="txt-grey info col-lg-2 col-12">
        <img class="svg-image" src="~/images/svg/002-ring.svg"/>
        <h2>What?</h2>
        <p>We are getting married!</p>
    </div>
    <div class="txt-grey info col-lg-2 col-12">
        <img class="svg-image" src="~/images/svg/003-calendar.svg" />
        <h2>When?</h2>
        <p>The 26th of September of 2020.</p>
    </div>
    <div class="txt-grey info col-lg-2 col-12">
        <img class="svg-image" src="~/images/svg/001-map.svg" />
        <h2>Where?</h2>
        <p>In the Castle of Santiago. In Sanlúcar de Barrameda, Cádiz, Spain.</p>
    </div>
</section>