<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Antonio_YenChiou</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker|Rancho|family=Lato:700|Nunito:400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/timeline.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-grid.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-reboot.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-grid.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-reboot.min.css" asp-append-version="true" />
    </environment>
</head>
<body>


    <partial name="_CookieConsentPartial" />

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Icons made by turkkub from www.flaticon.com</p>
            <p>&copy; 2019 - Antonio_YenChiou</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/scrollreveal.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/scrollreveal.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/navbar.js"></script>
    <script src="~/js/timeline.js"></script>
    <script src="~/js/simpleParallax.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
