@page
@model Antonio_YenChiou.Pages.Shared._NavigationPartial
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="outer-menu">
    <input id="hamburger" class="checkbox-toggle" type="checkbox" />
    <div  class="hamburger">
        <div></div>
    </div>
    <div class="menu">
        <div>
            <div>
                <ul>
                    <li><a id="link-timeline" class="navigation-link" href="#timeline-intro">About Us</a></li>
                    <li><a id="link-where" class="navigation-link" href="#where-section">Castillo de Santiago</a></li>
                    <li><a id="link-visit" class="navigation-link" href="#visit-section">What to Visit</a></li>
                    <li><a id="link-faq" class="navigation-link" href="#faq-section">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>