@page
@using Microsoft.Extensions.Localization;
@using System.Threading;
@using Yen_Chiou_Antonio_Website.Resources;
@inject IStringLocalizer<SharedResource> localizer
@model Antonio_YenChiou.Pages.Shared._NavigationPartial
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var _localizer = localizer["about_us"];
    var firstLan = "en-US";
    var firstName = "ENG";
    var secondLan = "es-ES";
    var secondName = "ESP";
}
<div class="outer-menu">
    @if(System.Threading.Thread.CurrentThread.CurrentCulture.Name == "es-ES")
    {
        firstLan = "es-ES";
        firstName = "ESP";
        secondLan = "en-US";
        secondName = "ENG";
    }
        <button id="language-selector" lang="@firstLan" class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @firstName
        </button>
    <div class="dropdown-menu">
        <a id="other-language" class="dropdown-item" href="" lang="@secondLan">@secondName</a>
    </div>

    <input id="hamburger" class="checkbox-toggle" type="checkbox" />
    <div class="hamburger">
        <div></div>
    </div>
    <div class="menu">
        <div>
            <div>
                <ul>
                    <li><a id="link-timeline" class="navigation-link" href="#timeline-intro">@localizer["about_us"]</a></li>
                    <li><a id="link-where" class="navigation-link" href="#where-section">Castillo de Santiago</a></li>
                    <li><a id="link-visit" class="navigation-link" href="#visit-section">What to Visit</a></li>
                    <li><a id="link-faq" class="navigation-link" href="#faq-section">FAQ</a></li>
                    <li><a id="link-contact" class="navigation-link" href="#post-faq-section">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>