@page
@model Antonio_YenChiou.Pages.Shared._TimelinePartialModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <section class="section-intro light-background" id="timeline-intro">
        <div class="section-image row justify-content-md-center">
            <div class="col-12">
                <img class="svg-image small" src="~/images/svg/pictures.svg" />
            </div>
        </div>
        <div class="section-title row justify-content-md-center">
            <div class="col-lg-6 col-12">
                <h1>About Us</h1>
            </div>
        </div>
        <div class="section-text row justify-content-md-center">
            <div class="col-lg-8 col-12">
                <p>If you got here, you should already know a bit about us, but here is a quick summary of how we got here.</p>
            </div>  
        </div>
    </section>
<div id="timeline-section" class="row timeline light-background">
    <div class="container">
        <!--Antonio Born 1986-->
        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInLeft">
                <div id="antonio-young-picture" class="timeline-img-header">
                    <h2>Antonio</h2>
                </div>
                <div class="date">29 APRIL 1986</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
            </div>
        </div>

        <!--YC Born 1986-->
        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div id="yenchiou-young-picture" class="timeline-img-header">
                    <h2>Yen Chiou</h2>
                </div>
                <div class="date">30 SEPT 1986</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
            </div>
        </div>

        <!--YC Antonio Meet-->
        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInLeft">
                <div id="yenchiou-antonio-picture" class="timeline-img-header">
                    <h2>Yen Chiou and Antonio meet</h2>
                </div>
                <div class="date">5 AUG 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
            </div>
        </div>

        <!--Chicken Incident-->
        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div id="chicken-picture" class="timeline-img-header">
                    <h2>Chicken Incident</h2>
                </div>
                <div class="date">22 OCT 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
            </div>
        </div>

        <!-- Norway -->
        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInLeft">
                <div id="norway-picture" class="timeline-img-header">
                    <h2>Yen Chiou moves to Norway</h2>
                </div>
                <div class="date">22 JUN 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content timeline-card js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2>Move back together</h2>
                </div>
                <div class="date">10 JULY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                    <h2>Card Title</h2>
                </div>
                <div class="date">30 JULY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInLeft">
                <div class="date">5 AUG 2016</div>
                <h2>Quote</h2>
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta explicabo debitis omnis dolor iste fugit totam quasi inventore!</blockquote>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                    <h2>Card Title</h2>
                </div>
                <div class="date">19 AUG 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content js--fadeInLeft">
                <div class="date">1 SEP 2016</div>
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>
    </div>
</div>