@page
@model Antonio_YenChiou.Pages.Shared._WherePartialModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section id="where-section" class="section-intro dark-background">
    <div class="section-image row justify-content-md-center">
        <div class="col-12">
            <img class="svg-image small" src="~/images/svg/castle.svg" />
        </div>
    </div>
    <div class="section-title row justify-content-md-center">
        <div class="col-lg-4 col-12">
            <h1>Castillo de Santiago</h1>
        </div>
    </div>
    <div class="section-text row justify-content-md-center">
        <div class="col-lg-6 col-12">
            <p>
                The wedding is taking place in a very special place, a castle.
                This wonderful 15th-century castle...
                Among other historical events, it is known for being the place where the first trip around the world started
                in 1519.
            </p>
        </div>
        <div class="col-10">
            <img  style="width:100%" src="~/images/castle.jpg"/>
        </div>
    </div>
</section>