@page
@model Antonio_YenChiou.Pages.Shared._WherePartialModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section class="section-intro dark-background" id="where-intro">
    <div class="section-image row justify-content-md-center">
        <div class="col-12">
            <img class="svg-image small" src="~/images/svg/path.svg" />
        </div>
    </div>
    <div class="section-title row justify-content-md-center">
        <div class="col-lg-4 col-12">
            <h1>Where?</h1>
        </div>
    </div>
    <div class="section-text row justify-content-md-center">
        <div class="col-lg-6 col-12">
            <h1>Castillo de Santiago</h1>
            <p>The wedding will take place in the Castillo de Santiago, a 15th century fortress in the middle of Sanlucar de Barrameda.</p>
            <p>Among its illustrious visitors, one of the most significants is Maguellan, who visited the fortress right before he started his travel around the world.
            The castle its not just a historical place, but one full of mystery since reports of apparitions and paranomal phenomena has been reported and <a href="https://www.cuatro.com/cuarto-milenio/castillo-lamentos-investigacion-escuchan-golpes-voces-experiencia_0_2686425027.html">investigated</a> recently.</p>
            <p><b>Both the celebration and the dinner will take place in the castle.</b></p>
        </div>
    </div>
</section>
<section id="where-section" class="row justify-content-md-center dark-background">
    <div class="col-12">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="1080" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=castillo%20de%20santiago&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>
</section>
