@page
@model Antonio_YenChiou.Pages.Shared._WherePartialModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section id="where-section" class="section-intro dark-background">
    <div class="section-image row justify-content-md-center">
        <div class="col-12">
            <img class="svg-image small" src="~/images/svg/castle.svg" />
        </div>
    </div>
    <div class="section-title row justify-content-md-center">
        <div class="col-lg-6 col-12">
            <h1>Castillo de Santiago</h1>
        </div>
    </div>
    <div class="section-text row justify-content-md-center">
        <div class="col-lg-8 col-12">
            <p>
                The wedding is taking place in a very special place, a castle.
                This wonderful 15th-century castle...
                Among other historical events, it is known for being the place where the first trip around the world started
                in 1519.
            </p>
        </div>
    </div>
</section>

<section id="where-section-2" class="row justify-content-md-center dark-background no-padding-top">
    <div class="txt-grey info col-lg-3 col-md-10 col-12">
        <img class="svg-image" src="~/images/svg/crown.svg" />
        <h2>History</h2>
        <p>Built between 1468 y 1492, this late Gothic castle has played a significant role in the area. The castle served as residence to the Catholic Monarchs of Spain.</p>
    </div>
    <div class="txt-grey info col-lg-3 col-md-10 col-12">
        <img class="svg-image" src="~/images/svg/sailing-boat.svg" />
        <h2>Sailors favourite</h2>
        <p>Given Sanlucars strategic location, the castle has hosted illustrous discoverers and sailors such as Cristopher Colombus (discovery of America) or Magallanes and Elcano (first round trip around the globe).</p>
    </div>
    <div class="txt-grey info col-lg-3 col-md-10 col-12">
        <img class="svg-image" src="~/images/svg/ghost.svg" />
        <h2>Haunted</h2>
        <p>Some of the tourist guides and cleaning personal have reported poltergeist phenomena in the Castle. Even famous reporter Iker Jimenez made a feature on the castle: <a href="https://www.cuatro.com/cuarto-milenio/castillo-lamentos-investigacion-comprobado-golpes-voces_2_2686455018.html">link</a></p>
    </div>
</section>
<section id="where-section-2" class="row justify-content-md-center dark-background no-padding-top">
    <div class="col-lg-10 col-12">
        <img class="lozad" style="width:100%" src="~/images/castle.jpg" />
    </div>
</section>
