/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    background-color: #3AAFA9 !important;
    font-size: 1.1rem;
}

.row {
}

p , ul, li{
    font-size: 1.1rem;
}

@font-face {
    font-family: 'Calligraffitti';
    src: url('/fonts/calligraffitti-regular-webfont.woff2') format('woff2'), url('calligraffitti-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato-regular-webfont.woff2') format('woff2'), url('lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/nunito-regular-webfont.woff2') format('woff2'), url('nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

section {
    padding-top: 40px;
}

#timeline-section {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

#info-section {
    padding-bottom: 50px;
}

#faq-section{
    padding-bottom: 30px;
}

/*.section-image {
    max-width: 100px;
}*/
#about-us {
    margin-top: 20px;
}

.date {
    padding-top: 10px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#intro-image {
    position: relative;
    top: 350px;
    width: 100%;
    text-align: center;
}

    #intro-image h1 {
        margin-top: 0;
        color: #ffffff;
        font-size: 70px;
        text-shadow: 2px 2px #000;
    }

    #intro-image p {
        margin-top: 0;
        color: #ffffff;
        font-size: 15px;
        text-shadow: 1px 1px #000;
    }

.parallax-window {
    background: transparent;
    height: 100vh;
    width: 100%;
}

.footer-paragraph a, .footer-paragraph a:visited {
    color: #2B7A78;
}

.footer-paragraph {
    text-align: center;
}

small-footer .small-footer {
    font-size: 14px;
}

.navbar {
    margin-bottom: 0;
}

#antonio-young-picture {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(/images/timeline-antonio.jpg) center center no-repeat;
    background-size: cover;
}

#yenchiou-young-picture {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(/images/timeline-yc.jpg) center center no-repeat;
    background-size: cover;
}

#yenchiou-antonio-picture {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(/images/timeline-meet.jpg) center center no-repeat;
    background-size: cover;
}

#norway-picture {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(/images/timeline-norway.jpg) center center no-repeat;
    background-size: cover;
}

#together-picture {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(/images/timeline-together.jpg) center center no-repeat;
    background-size: cover;
}

#apartment-picture {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(/images/timeline-apartment.jpg) center center no-repeat;
    background-size: cover;
}

#engaged-picture {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(/images/timeline-engaged.jpg) center center no-repeat;
    background-size: cover;
}

#contact-list{
    list-style: none;
}

.nice-link {
    text-decoration:underline !important;
    opacity:0.9;
}

    .nice-link:hover {
        font-weight: 600 !important;
    }

#contact-list i {
    vertical-align: bottom;
}

.svg-image {
    width: 100px;
}

    .svg-image.small {
        width: 50px;
    }

.info {
    text-align: center;
}

#intro-section {
    min-height: 100vh;
}

section p, section ul, section li {
    font-family: 'Nunito', sans-serif;
}

section h1, h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

#intro-subtext {
    font-weight: 400;
}

.section-intro {
    text-align: center;
}

.light-background {
    background-color: #DEF2F1;
}

.txt-grey {
    color: #18252a;
}

.dark-background {
    background-color: #3AAFA9;
}

#info-section h2 {
    padding-top: 14px;
}

.section-title {
    padding-top: 18px;
}

.carousel a {
    opacity: 1;
}

    .carousel a:hover {
        opacity: 0.5;
    }

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.masthead {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 50%,#3AAFA9 100%),url('../images/intro-picture.jpg');
    background-position-x: center !important;
    background-position-y: top !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-size: cover !important;
}

    .masthead h1 {
        font-family: 'Calligraffitti', cursive;
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.6rem;
        background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.2));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        color: #FFF;
    }

    .masthead h2 {
        font-family: 'Nunito', cursive;
        max-width: 20rem;
        font-size: 1rem;
    }

#language-selector {
    position: absolute;
    top: 0;
    left: -100px;
    margin-top: 12px;
    margin-right: 1rem;
    background-color: transparent;
    border-color: transparent;
    width: 80px;
    padding: 4px 8px;
    height: 34px;
}

    #language-selector[aria-expanded="true"] {
        background-color: white;
        border-color: white;
        color: #3AAFA9;
        border-radius: 0;
        border:0;
    }

    #language-selector:focus {
        box-shadow: none;
    }

    #language-selector[aria-expanded="true"]:hover {
        font-weight: bold;
    }

#where-section-2 .col-lg-3 p {
    padding: 10px 40px 0px 40px;
}

.dropdown-menu {
    margin-top: 0;
    color: #DEF2F1;
    background-color: white;
    color: white;
    width: 80px;
    min-width: 80px;
    border-radius: 0;
    border: 0;
    padding: 0px;
    box-shadow: -5px 0px 65px 0px rgba(0, 0, 0, 0.18);
}

.dropdown-item {
    color: #3AAFA9 !important;
    padding: 4px 8px;
    width: 80px;
    font-size: 1.25rem;
}

    .dropdown-item:hover {
        font-weight: bold;
    }

    .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }

.section-text {
    margin-top: 1rem;
}
.section-intro {
    padding-bottom: 4rem;
}