/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media (max-width: 768px)
{
    #timeline-section .container {
        width: 95%;
    }

    .masthead h1
    {
        font-size:2.5rem;
        line-height:4rem;
    }

    .masthead h2{
        font-size:1.5rem;
    }

    p {
        font-size: 1.4rem;
    }
}

@media(min-width: 768px) {
    .masthead h1 {
        font-size: 4rem;
        line-height: 5rem;
    }

}
@media(max-width: 1200px) and (min-width: 768px){
    #timeline-section .container {
        max-width: 760px !important;
    }
}


@media(max-width:1200) and (min-width:992px) {
    .masthead {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;
        background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 50%,#3AAFA9 100%),url('../images/1200/intro-picture.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
}

@media(max-width:575px) {
    .masthead {
        background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 50%,#3AAFA9 100%),url('../images/576/intro-picture.jpg');
    }
}

@media(max-width:769px) and (min-width:576px) {
    .masthead {
        background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 50%,#3AAFA9 100%),url('../images/768/intro-picture.jpg');
    }
}

@media(max-width: 991px) {
    #visit-section, #faq-section, #where-section-2 {
        padding-bottom: 0;
    }
}

@media(max-width: 991px) and (min-width: 768px) {
        .masthead {
        background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 50%,#3AAFA9 100%),url('../images/992/intro-picture.jpg');
    }
}

@media(max-width:1199px) and (min-width:992px){
    .masthead {
        background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 50%,#3AAFA9 100%),url('../images/1200/intro-picture.jpg');
    }
}

@media(min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }

        .masthead h1 {
            padding: 6px;
            font-size: 4rem;
            line-height: 6.5rem;
            letter-spacing: 0.6rem;
        }

        .masthead h2 {
            max-width: 30rem;
            font-size: 1.25rem;
        }
}
