@page
@model IndexModel
@using Antonio_YenChiou.Pages.Shared
@{
    ViewData["Title"] = "Home page";
}

<!-- Intro -->
    <section id="intro-section" class="dark-background" >
        <div class="row justify-content-md-center" style="background=">
            <div class="col-12 parallax-window" id="intro-wrapper">
                <img class="parallax-image" src="~/images/intro.jpg" alt="intro" id="intro-image"/>
                <video class="col-2">
                    <h1>Yen Chiou<br />&<br />Antonio</h1>
                </video>
                <div class="col-8">
                    <p>Thats right, we are getting married, what a surprise!</p>
                </div>
            </div>
        </div>
    </section>

<!-- Info -->
@await Html.PartialAsync("_InfoPartial", new _InfoPartialModel())

<!-- About Us -->
@await Html.PartialAsync("_TimelinePartial", new _TimelinePartialModel())

<!-- Where -->
@await Html.PartialAsync("_WherePartial", new _WherePartialModel())

<!-- Attractions -->
@await Html.PartialAsync("_VisitPartial", new _VisitPartialModel())
