@page
@model IndexModel
@using Antonio_YenChiou.Pages.Shared
@{
    ViewData["Title"] = "Home page";
}

<!-- Intro -->
    <section id="intro-section" >
        <div class="row justify-content-md-center">
            <div class="col-12 col-lg-10 parallax-window" data-parallax="scroll" data-image-src="/images/intro.jpg" id="intro-wrapper">
                <div id="intro-image">
                    <h1>Yen Chiou<br />&<br />Antonio</h1>
                </div>
            </div>
        </div>
    </section>

<!-- Info -->
@await Html.PartialAsync("_InfoPartial", new _InfoPartialModel())

<!-- About Us -->
@await Html.PartialAsync("_TimelinePartial", new _TimelinePartialModel())

<!-- Info -->
@*<div class="row">
        <div class="parallax-window" data-parallax="scroll" data-image-src="/images/castillo.jpg"></div>
    </div>*@

<!-- Where -->
@await Html.PartialAsync("_WherePartial", new _WherePartialModel())

<!-- Attractions -->
@await Html.PartialAsync("_VisitPartial", new _VisitPartialModel())
